@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/druk-trial');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f8f8f8;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div#root {
    flex-grow: 1;
}

input#search:focus-visible {
    border: none;
    outline: none;
}

.home-header {
    background-image: url('./images/heroImages/hero-background-mobile.png');
}
.menu-header {
    background-image: url('./images/menuHero/menuHeroBackground-mobile.png');
    background-position-x: right;
    background-position-y: -330px;
}

@media(min-width: 768px) {
    .home-header {
        background-image: url('./images/heroImages/hero-background-md.png');
    }
    .menu-header {
        background-image: url('./images/menuHero/menuHeroBackground.png');
        background-position-x: right;
        background-size: contain;
        background-position-y: 0px;
    }
}

@media(min-width: 1280px) {
    .home-header {
        background-image: url('./images/heroImages/hero-background.png');
    }
}